.searchInput {
    width: 1150px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border: none;
    border-radius: 20px;
    margin: 20px 0 0 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: Andale Mono, monospace;
    box-sizing: border-box;
}

.searchWrapper {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results {
    width: 500px;
    height: 50px;
    max-width: 1960px;
    background-color: rgb(94, 58, 58);
    border: none;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
    outline: none;
    transition: width 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.cardMusic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resultsRotateWrapper {
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    margin: 20px 0 0 20px;
}

.resultsText {
    margin-left: 5px;
    font-size: 20px;
    font-family: Andale Mono, monospace;
    cursor: default;
}

.resultsText:hover {
    color: #ffffff;
}

.resultsRotate {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    animation: rotateAnimation 0.5s ease;
}

.songSection {
    width: 1200px;
    min-height: 50px;
    margin: 7px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(249, 249, 249, 0.65);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.songContainer {
    display: flex;
}

.resultsContainer::-webkit-scrollbar {
    width: 0;
}

.resultsContainer {
    margin-top: 10px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    height: 910px;
    overflow-y: auto;
}

.songSection:hover {
    background-color: rgba(243, 128, 128, 0.5);
}

.albumImage {
    border-radius: 50px;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1920px) {
    .searchInput {
        min-width: 500px;
        height: 50px;
        background-color: rgba(255,255,255,1);
        border: none;
        border-radius: 20px;
        margin: 20px;
        outline: none;
        transition: width 0.2s;
        max-width: 1680px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}